<div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="card p-3 rounded-4" style="width: 500px">
        <div class="card-body">
            <h1 class="display-2 text-center"><strong>NEW ARTICLE</strong></h1>
            <div class="text-center">
              <%= render "form", article: @article %>
            </div>
            <div class="text-center">
                <a href="/" class="btn btn-primary mt-3">
                HOME
                </a>
            </div>
        </div>
    </div>
</div>